*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {

  background: url(/static/images/background-blue-gradient.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

#app {
  margin-bottom: 100px;
}

#app a {
  color: white;
}
.main-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.title {
  position: absolute;
  height: 80vh;
  top: 10px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title h3 {
  color: #28ABE2;
  padding-top: 30px;
  font-size: clamp(0.5rem, 2vw, 2rem);
  font-weight: 200;
}

p {
  color: #28ABE2;
  font-size: clamp(0.1rem, 2vw, 0.8rem);
}

.contact {
  text-align: right;
  margin-right: 10px;
}

.contact p,
a {
  color: rgba(230, 220, 220, 0.5);
}

.social-media {
  margin-top: 3%;
  margin-right: 115px;

}

.fa-brands {
  font-size: 1.5rem;
  margin-right: 10px;
}


#molecule {
  display: flex;
  align-items: center;
  height: 100%;

}

svg {
  margin: 0 auto;
  display: block;
}

area {
  cursor: pointer;
  outline-color: white;
}

h1 {
  color: white;
}

/* AUDIOPLAYER */

.audio-footer {
  margin-top: auto;
}

.audio-container {
  display: flex;
  justify-content: space-between;
  background: rgba(200, 191, 191, 0.020);
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  position: absolute;
  bottom: 0;

}

.audio-container .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio-container .audio {

  width: 100%;
  height: 80px;

}

.audio-container .track-name {
  color: rgb(177, 173, 173);
  padding: 8px 32px;
  font-size: 13px;
}


.audio-container .btn {
  padding: 16px;
  width: 24px;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  color: rgba(177, 173, 173, 0.478);
}

.audio-container .volume-slider {
  width: 300px;
}


.audio-container .buttons .play-btn .fa-pause {
  display: none;
}

.audio-container .buttons .play-btn.playing .fa-pause {
  display: inline-block;
}

.audio-container .buttons .play-btn.playing .fa-play {
  display: none;
}

.audio-container .buttons .mute-btn .fa-volume-mute {
  display: none;
}

.audio-container .buttons .mute-btn.muted .fa-volume-mute {
  display: inline-block
}

.audio-container .buttons .mute-btn.muted .fa-volume-up {
  display: none;
}

@media screen and (max-width: 468px) {
  .audio {
    display: none;
  }

  .audio-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
